<?xml version="1.0"?>
<launch>
	<!-- Load urdf -->
	<!--
	<param name="robot_description" command="$(find xacro)/xacro '$(find dnb_driver_template_cpp)/urdf/robot_B.xacro'" />
	-->

	<!-- Start Control Panel driver -->
	<!--
	<include file="$(find dnb_remote_robot_control)/launch/start_v2.launch">
		<arg name="package" value="dnb_driver_template_cpp"/>
		<arg name="sim" value="false"/>
		<arg name="robot" value="robot_B"/>
		<arg name="tool_frame" value="robot_state_tcp" />
	</include>
	-->
</launch>
